@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1 class="pt-4">@ViewData["Title"]</h1>

<div class="row pt-4">
    <div class="col-md-7">
        <form class="row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Utwórz nowe konto.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Name" class="form-control" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Street" class="form-control" aria-required="true" />
                <label asp-for="Input.Street"></label>
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.City" class="form-control" aria-required="true" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.State" class="form-control" aria-required="true" />
                <label asp-for="Input.State"></label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.PostalCode" class="form-control" aria-required="true" />
                <label asp-for="Input.PostalCode"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                    <option disabled selected>--Wybierz Rolę--</option>
                </select>
            </div>
            <button asp-action="" id="registerSubmit" type="submit" class="w-100 btn btn-primary">Zarejestruj się</button>
        </form>
    </div>
    <div class="col-md-5">
        <section>
            <h3>Użyj innego serwisu do rejestracji.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Nie skonfigurowano żadnych usług zewnętrznej autentykacji. Zobacz ten <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                artykuł
                                na temat konfiguracji tej aplikacji ASP.NET do obsługi logowania za pomocą usług zewnętrznych
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj się za pomocą konta @provider.DisplayName">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
